* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.first {
    background-color: rgb(228, 136, 167);
    color: white;
    padding: 8px; 
    text-align: center;
}

.second {
    background-color: rgb(167, 167, 230);
    color: white;
    padding: 8px; 
    text-align: center;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center; 
    padding: 5px; 
    background-color: rgb(167, 167, 230);
}

header nav ul li {
    margin: 0 15px; 
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: font-size 0.3s ease;
}

@media (max-width: 768px) {
    header nav ul {
        padding: 5px; 
    }

    header nav ul li {
        margin: 0 10px; 
    }

    header nav ul li a {
        font-size: 14px; 
    }
}

footer {
    background-color: #364c62;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 16px;
}

@media (max-width: 768px) {
    footer {
        padding: 8px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    footer {
        padding: 6px;
        font-size: 12px;
    }
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
}

section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    background-color: #364c62;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(167, 167, 230);
}
