* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

.second {
    background-color: rgb(167, 167, 230);
    color: white;
    padding: 10px;
    text-align: center;
}

.first {
    background-color: rgb(228, 136, 167);
    color: white;
    padding: 8px;
    text-align: center;
    
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #364c62;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
}

section img {
    width: 100%;
    border-radius: 10px;

}

.menu-item {
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    background-color: #364c62;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(167, 167, 230);
}
